<section id="todoList">
  <div class="container">
    <div class="summary">
      <p>Tarefas criadas <span>5</span></p>
      <p class="done">Concluídas <span>2 de 5</span></p>
    </div>
    <ul>
      <li>
        <input type="radio" />
        <p>
          Integer urna interdum massa libero auctor neque turpis turpis semper. Duis vel sed fames
          integer.
        </p>

        <button type="button"><img src="/assets/icons/trash.svg" alt="Excluir" /></button>
      </li>

      <li>
        <input type="radio" />
        <p>
          Integer urna interdum massa libero auctor neque turpis turpis semper. Duis vel sed fames
          integer.
        </p>

        <button type="button"><img src="/assets/icons/trash.svg" alt="Excluir" /></button>
      </li>

      <li [class.isdone]="true">
        <input type="radio" />
        <p>
          Integer urna interdum massa libero auctor neque turpis turpis semper. Duis vel sed fames
          integer.
        </p>

        <button type="button"><img src="/assets/icons/trash.svg" alt="Excluir" /></button>
      </li>
    </ul>
  </div>
</section>
