:root {
  --white: #ffffff;

  --gray100: #f2f2f2;
  --gray200: #d9d9d9;
  --gray300: #808080;
  --gray400: #333333;
  --gray500: #262626;
  --gray600: #1a1a1a;
  --gray700: #0d0d0d;

  --purple: #8284fa;
  --purpleDark: #5e60ce;

  --blue: #4ea8de;
  --blueDark: #1e6f9f;

  --danger: #e25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray100);
}

body {
  background-color: var(--gray600);
}

.container {
  width: 100%;
  max-width: 736px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

input[type='radio'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;

  width: 25px;
  height: 25px;
  background: url('/assets/icons/uncheck.svg') no-repeat;

  &:checked {
    border: 0;
    background: url('/assets/icons/check.svg') no-repeat;
  }
}
