<div class="container">
  <form [formGroup]="formNewTodo" (ngSubmit)="handleCreateTodo()">
    <input
      type="text"
      name="description"
      placeholder="Adicione uma nova tarefa"
      formControlName="description"
      autocomplete="off"
      [class.filled]="!!descriptionControl?.value"
      #descriptionInput
    />

    <button type="submit" [disabled]="formNewTodo.invalid">
      Criar <img src="/assets/icons/plus.svg" alt="Criar tarefa" />
    </button>
  </form>

  <span
    class="input-error-message"
    *ngIf="descriptionControl?.errors?.['required'] && descriptionControl?.touched && !descriptionControl?.pristine"
    >Campo obrigatório</span
  >
  <span
    class="input-error-message"
    *ngIf="descriptionControl?.errors?.['minlength'] && descriptionControl?.touched"
    >O campo deve conter pelo menos 3 caracteres</span
  >
</div>
