form {
  display: flex;
  gap: 8px;
  margin-top: -25px;

  input {
    flex: 1;
    background-color: var(--gray500);
    border: 1px solid var(--gray700);
    border-radius: 8px;
    padding: 16px;
    outline: none;
    color: var(--white);

    &:placeholder {
      font-size: 16px;
      color: var(--gray300);
    }

    &:focus,
    &.filled {
      border: 1px solid var(--purpleDark);
    }

    &.ng-touched.ng-invalid {
      border: 1px solid var(--danger);
    }
  }

  button {
    background-color: var(--blueDark);
    padding: 16px;
    color: var(--white);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    &:disabled {
      opacity: 0.8;
    }
  }
}

.input-error-message {
  display: block;
  width: 100%;
  font-size: 12px;
  color: var(--danger);
  margin-top: 4px;
}
